
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}


